<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CLIENT_ID</key>
	<string>913652649214-j471nosc1q64o7qhq8b9bjslqrnoojon.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.913652649214-j471nosc1q64o7qhq8b9bjslqrnoojon</string>
	<key>API_KEY</key>
	<string>AIzaSyD8TCfHTnN7jmxYcGPFDeX6xJh3xOROMP0</string>
	<key>GCM_SENDER_ID</key>
	<string>913652649214</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>me.poole.james.ShiftTracker</string>
	<key>PROJECT_ID</key>
	<string>shifttracker-dfb2e</string>
	<key>STORAGE_BUCKET</key>
	<string>shifttracker-dfb2e.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:913652649214:ios:96c40b4bb1bc66a25169af</string>
</dict>
</plist>